:root {
  --black: #000;
  --white: #fff;
  --dim-gray: #3f3b3b;
  --dark-blue: #002b5b;
  --navy-blue: #2b4865;
  --steel-blue: #256d85;
  --aquamarine: #8fe3cf;

  --text-color: var(--white);
  --title-color: var(--white);
  --input-color: var(--white);
}
